<!--
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Template für das Kontaktformular der Webseite
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-->

<div class="form innercontainer" style="width: 35%;">
    <div id="div_text"> 
        <div id="div_schreib_uns">
            <p>Schreiben Sie uns doch eine Nachricht!</p>
        </div>

        <div id="div_dog_letter">
            <img src="/images/dog_letter.png"/>
        </div>
    </div>

    <form action="/kontakt" method="POST">
        <div class="form-item">
            <label for="surname" title="Name" style="margin-top: 70px;">Name: *</label>
            <input id="aName" name="surname" type="text" tabindex="90" placeholder="Bitte Namen eingeben" required>
        </div>
        <div class="form-item">
            <label for="firstname" title:"Vorname">Vorname: *</label>
            <input id="aFirstname" name="firstname" type="text" class="DefaultInput" tabindex="20" value=""  placeholder="Bitte Vornamen eingeben" required/>
        </div>
        <div class="form-item">
            <label for="email" title="E-Mail">E-Mail: *</label>
            <input id="aMail" name="email" type="text" tabindex="91" placeholder="Bitte E-Mailadresse eingeben" required />
        </div>
        <div class="form-item">
            <label for="phone" title="Telefon">Telefon:</label>
            <input id="aPhone" name="phone" type="text" tabindex="21" placeholder="Bitte Telefonnummer eingeben"/>
        </div>
        <div class="form-item">
            <label for="subject" title="Betreff">Betreff: *</label>
            <input id="aSubject" name="subject" type="text" tabindex="92" placeholder="Bitte Betreff eingeben" required/>
        </div>
        <div class="form-item">
            <label for="message" title="Nachricht">Nachricht: *</label>
            <textarea id="aText" name="message" cols="40" rows="3" tabindex="93" placeholder="Ihre Nachricht an uns" required></textarea>
        </div>
        <div class="form-button">
            <button class="button-align" type="submit" value="Absenden" tabindex="94">Absenden</button>
            <button class="button-align" type="reset" value="Zurücksetzen" tabindex="95">Zurücksetzen</button>
        </div>

    </form>
s
    <div class="responsiveContainer">
        <!-- inclusion google maps -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.8299470758625!2d8.778299022322951!3d53.05514251098836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b0d7c4b2189b0d%3A0x9b66623ea6810b5c!2sFlughafenallee+10%2C+28199+Bremen!5e0!3m2!1sde!2sde!4v1496404986250" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>
</div>


