<html>
  <head>
      <link rel="Stylesheet" href="/css/linksstyle.css">



  </head>
  <body>



      <div class="content">

      <p><font size="5"><b>Finden sie uns auch auf unserer Facebook-Seite: </b></font></p>
      <p><font size="5"><u> fbTeam4 </u></font></p>

      <p><font size="5"><b>Partnerunternehmen:</b></font></p>
      <p><font size="5">Tierheim Oldenburg:<u>www.tierheim-ol.de</u></font></p>
      <p><font size="5">Tierheim Bremen:<u>www.bremer-tierschutzverein.de</u></font></p>
      <p><font size="5">Tierheim München:<u>www.tierschutzverein-muenchen.de</u> </font></p>

      <p><font size="5"><b>Welches Tier für wen?</b></font></p>
      <p><font size="5"> Infos und Tipps:<u>www.haustier-infos.eu</u></font></p>
      <p><font size="5">Speziell für Senioren:<u>www.senioren-ratgeber.de/Tiere</u></font></p>

    </div>
  </body>
</html>
