
<main id="main" role="main">
	<div class="row col-md-12">
		<div class="col-md-6">
	<div class="container">
<div id="divCMSContent">
	<h1>Kontakt Formular</h1>

			<form>
		<div class="form-item">
			<label for="aName">Name *</label>
			<input id="aName" name="aName" type="text" tabindex="90" />
		</div>
		<div class="form-item DefaultFirstNameForm">
			<label for="aFirstname">Vorname</label>
			<input id="aFirstname" type="text" class="DefaultInput" tabindex="20" name="aFirstName" value="" />
		</div>
		<div class="form-item">
			<label for="aMail">E-Mail *</label>
			<input id="aMail" name="aMail" type="text" tabindex="91" />
		</div>
		<div class="form-item">
			<label for="aPhone">Telefon</label>
			<input id="aPhone" name="aPhone" type="text" tabindex="92" />
		</div>
		<div class="form-item">
			<label for="aSubject">Betreff *</label>
			<input id="aSubject" name="aSubject" type="text" tabindex="94" />
		</div>
		<div class="form-item mailConfirm DefaultFirstNameForm">
			<label for="aMailConfirm">test</label>
			<input id="aMailConfirm" type="text" class="DefaultInput" name="aMailConfirm" value="" />
		</div>
		<div class="form-item">
			<label for="aText">Nachricht *</label>
			<textarea id="aText" name="aText" cols="40" rows="3" tabindex="95"></textarea>
		</div>
		<div class="form-action">
			<input type="submit" value="absenden" tabindex="96" />
		</div>
	</form>
    </div>
	</div>
</div>
<div class="col-md-6">
		<div id="map" style="width: 600px"><iframe width="600" height="300" src="http://regiohelden.de/google-maps/map.php?width=600&amp;height=300&amp;hl=de&amp;q=Flughafenallee+(Tierheim)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a style="font-size: 9px;" href="http://www.regiohelden.de/google-maps/" style="font-size: 9px;">Google Maps Generator</a> by <a href="http://www.regiohelden.de/">RegioHelden</a></iframe><br /><span style="font-size: 9px;"><a style="font-size: 9px;" href="http://www.regiohelden.de/google-maps/" style="font-size: 9px;">Google Maps Generator</a> by <a href="http://www.regiohelden.de/" style="font-size: 9px;">RegioHelden</a></span></div>

</div>
</div>
</main>
