<!--<% dogs.forEach(function (dog) { %>
<div class="elementgrid">
  <a href="#" id="grid">
    <figure>
      <img src="<%= dog.img %>"></img>
      <figcaption>Some text here</figcaption>
    </figure>
  </a>
</div>
<% }) %>-->

<% dogs.forEach(function (dog) { %>
<div class="elementgrid">
  <a href="#" id="grid">
    <figure>
      <img src="<%= dog.img %>"></img>
      <figcaption>Some text here</figcaption>
    </figure>
  </a>
</div>
<% }) %>