<footer role="contentinfo">
	
	<ul class="footer">
		<li><a href="/impressum">Impressum</a></li>
		<li><a href="/kontakt">Kontakt</a></li>
		<li><a href="/links">nützliche Links</a></li>
		<li><span>© MARTHA 2017</span></li>
	</ul>

</footer>