<div class="footer" id="footer">
	<footer class="footer-distributed">
		<div class="footer-left">
			<h3>Firmen<span>logo</span></h3>
			<p class="footer-links">
				<a href="/.">Home</a>
				<a href="/impressum">Impressum</a>
				<a href="/links">nützliche Links</a>
				<a href="/kontakt">Kontakt</a>
			</p>
			<!-- Copyright -->
			<p class="footer-company-name">Team4 &copy; 2017</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>Flughafenallee 10</span> Bremen, Deutschland</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>+49 421 590 55 400</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:smartymarta@web.de">smartymarta@web.de</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>Über uns</span>
				Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus 
				vehicula sit amet.
			</p>
			<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</div>