
    <ul class="icons">
        <li><a href="#" ><img src="../images/unmaennlich.png" width="auto" border="0" alt="kastrierter Rüde"/></li>
        <li><a href="#" ><img src="../images/unweiblich.png" width="auto" border="0" alt="kastrierte Hündin"/></li>
        <li><a href="#" ><img src="../images/maennlich.png" width="auto" border="0" alt="Rüde"/></li>
        <li><a href="#" ><img src="../images/weiblich.png" width="auto" border="0" alt="Hündin"/></li>
        <li><a href="#" ><img src="../images/kinderlieb.png" width="auto" border="0" alt="Kinderlieb"/></li>
        <li><a href="#" ><img src="../images/seniorengeeignet.png" width="auto" border="0" alt="geeignet für Senioren"/></li>
        <li><a href="#" ><img src="../images/katzenlieb.png" width="auto" border="0" alt="katzenlieb"/></li>
        <li><a href="#" ><img src="../images/vertraeglichAlle.png" width="auto" border="0" alt="verträglich mit allen Hunden"/></li>
        <li><a href="#" ><img src="../images/vertraeglichWeibchen.png" width="auto" border="0" alt="verträglich mit Hündinnen"/></li>
        <li><a href="#" ><img src="../images/vertraeglichMaennchen.png" width="auto" border="0" alt="verträglich mit Rüden"/></li>
        <li><a href="#" ><img src="../images/klein.png" width="auto" border="0" alt="kleiner Hund"/></li>
        <li><a href="#" ><img src="../images/mittel.png" width="auto" border="0" alt="mittelgroßer Hund"/></li>
        <li><a href="#" ><img src="../images/gross.png" width="auto" border="0" alt="großer Hund"/></li>
        <li><a href="#" ><img src="../images/gruppentier.png" width="auto" border="0" alt="Rudeltier"/></li>
        <li><a href="#" ><img src="../images/einzeltier.png"width="auto" border="0" alt="Einzeltier"/></li>
        <li><a href="#" ><img src="../images/spezielleKenntnisse.png" width="auto" border="0" alt="spezielle Kenntnisse erforderlich"/></li>
        <li><a href="#" ><img src="../images/wachhund.png" width="auto" border="0" alt="Wachhund"/></li>
        <li><a href="#" ><img src="../images/anfaenger.png" width="auto" border="0"  alt="Anfängerhund"/></li>
	</ul>
			