
<div class="zentriert">
    <br />
    <h2><%= headline %></h2>
    <p>Team4 </p>
    <p>Flughafenallee, 10 Bremen</p>
    <p>Telefon: 0421 - 6 44 23</p>
    <p>Fax: 0421 - 64 62 37</p>
    <p>E-Mail:Team4studentin@gmail.com</p>
    <p>Vertreten durch: Team4 GmbH</p>
    <br />
    <h2><%= headline1 %></h2>
    <div class="block"><p><%= text1 %><p></div>
    <br />
</div>
