   <div class="legende" style="margin-top:10px;">
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/small_s.png" title="bis 30cm Schulterhöhe"/>
                    <figcaption class="center_name">kleine <br/>Hunde</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                   <figure id="legende">
                      <img src="../images/middle_m.png" title="bis 59cm Schulterhöhe"/>
                      <figcaption class="center_name">mittelgroße <br/>Hunde</figcaption>
                   </figure>
                </div>
                <div class="legendicon">
                    <figure id="legende">
                      <img src="../images/big_l.png" title="ab 60cm Schulterhöhe"/>
                      <figcaption class="center_name">grosse <br/>Hunde</figcaption>
                    </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/baby.png" title="bis 2 Jahre"/>
                    <figcaption class="center_name">junger <br/>Hund</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                    <figure id="legende">
                      <img src="../images/adult.png" title="ca. zwischen 2-9 Jahren"/>
                      <figcaption class="center_name">erwachsener Hund</figcaption>
                    </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/senior.png" title="ca. ab 5-9 Jahren"/>
                    <figcaption class="center_name">älterer <br/> Hund</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/male_legend.png" title="männlich"/>
                    <figcaption class="center_name">männlicher Hund</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/female_legend.png" title="weiblich"/>
                    <figcaption class="center_name">weiblicher <br/> Hund</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/castrated_unfilled.png" title="kastriert"/>
                    <figcaption class="center_name">kastrierter <br/>Hund</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/solo.png" title="Einzeltier"/>
                    <figcaption class="center_name">Einzeltier</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/group.png" title="Gruppentier"/>
                    <figcaption class="center_name">Gruppentier</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_male.png" title="verträglich mit Männchen"/>
                    <figcaption class="center_name">verträglich <br/>mit Männchen</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_female.png" title="verträglich mit Weibchen"/>
                    <figcaption class="center_name">verträglich mit Weibchen</figcaption>
                  </figure>
                </div>
               <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_male_and_female.png" title="verträglich mit beiden Geschlechtern"/>
                    <figcaption class="center_name">verträglich mit beiden Geschlechtern</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_cat.png" title="verträglich mit Katzen"/>
                    <figcaption class="center_name">katzenlieb</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_child.png" title="verträglich mit Kindern"/>
                    <figcaption class="center_name">kinderlieb</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_senior.png" title="geeignet für Senioren"/>
                    <figcaption class="center_name">senioeren-
                                              geeignet</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_bunny.png" title="verträglich mit Kleintieren"/>
                    <figcaption class="center_name">kleintier-
                                              freundlich</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_water.png" title="mag Wasser/schwimmt gerne"/>
                    <figcaption class="center_name">mag <br/>Wasser</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/poo.png" title="stubenrein"/>
                    <figcaption class="center_name">stubenrein</figcaption>
                  <figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/sick.png" title="hat eine chronische Krankheit"/>
                    <figcaption class="center_name">Krankheit</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/warning.png" title="Problemhund: besondere Kenntnisse nötig"/>
                    <figcaption class="center_name">besondere Kenntnisse</figcaption>
                  </figure>
                </div>
            </div>