   <div class="legende" style="margin-top:10px;">
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/small_s.png" titel="klein"/>
                    <figcaption class="center">kleine <br/>Hunde</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                   <figure id="legende">
                      <img src="../images/middle_m.png" titel="mittel"/>
                      <figcaption class="center">mittelgroße <br/>Hunde</figcaption>
                   </figure>
                </div>
                <div class="legendicon">
                    <figure id="legende">
                      <img src="../images/big_l.png" titel="gross"/>
                      <figcaption class="center">grosse <br/>Hunde</figcaption>
                    </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/baby.png" />
                    <figcaption class="center">junger <br/>Hund</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                    <figure id="legende">
                      <img src="../images/adult.png" />
                      <figcaption class="center">erwachsener Hund</figcaption>
                    </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/senior.png" />
                    <figcaption class="center">älterer <br/> Hund</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/male_legend.png" />
                    <figcaption class="center">männlicher Hund</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/female_legend.png" />
                    <figcaption class="center">weiblicher <br/> Hund</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/castrated_unfilled.png" />
                    <figcaption class="center">kastrierter <br/>Hund</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/solo.png" />
                    <figcaption class="center">Einzeltier</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/group.png" />
                    <figcaption class="center">Gruppentier</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_male.png" />
                    <figcaption class="center">verträglich <br/>mit Männchen</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_female.png" />
                    <figcaption class="center">verträglich mit Weibchen</figcaption>
                  </figure>
                </div>
               <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_male_and_female.png" />
                    <figcaption class="center">verträglich mit beiden Geschlechtern</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_cat.png" />
                    <figcaption class="center">katzenlieb</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_child.png" />
                    <figcaption class="center">kinderlieb</figcaption>
                  </figure>
                </div><div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_senior.png" />
                    <figcaption class="center">senioeren-
                                              geeignet</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_bunny.png" />
                    <figcaption class="center">kleintier-
                                              freundlich</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/likes_water.png" />
                    <figcaption class="center">mag <br/>Wasser</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/poo.png" />
                    <figcaption class="center">stubenrein</figcaption>
                  <figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/sick.png" />
                    <figcaption class="center">Krankheit</figcaption>
                  </figure>
                </div>
                <div class="legendicon">
                  <figure id="legende">
                    <img src="../images/warning.png" />
                    <figcaption class="center">besondere Kenntnisse</figcaption>
                  </figure>
                </div>
            </div>