<!--
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Template f端r die Ausgabe nuetzlicher Links
    einfaches Styling
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-->
      

      <div class="links_left">
            <p style="font-size: 30px; font-weight: bold;">Partnerunternehmen:</p>
            <hr/> 
    
            <p>Tierheim Oldenburg: <a href="http://www.tierheim-ol.de">www.tierheim-ol.de</a></p>      
            
            <p>Tierheim Bremen: <a href="http://www.bremer-tierschutzverein.de"> www.bremer-tierschutzverein.de</a></p>
                 
            <p>Tierheim M端nchen: <a href="http://www.tierschutzverein-muenchen.de"> www.tierschutzverein-muenchen.de</a></p>
      </div>
      
      <div class="links_right">
            <p style="font-size: 30px; font-weight: bold;">Welches Tier f端r wen? </p>
            <hr /> 
            
            <p> Infos und Tipps: <a href="http://www.haustier-infos.eu">www.haustier-infos.eu</a></p>

            <p> Haustier Ratgeber: <a href="https://www.haustierratgeber.de/">www.haustierratgeber.de</a></p>
      
            <p>Speziell f端r Senioren: <a href="http://www.senioren-ratgeber.de/Tiere">www.senioren-ratgeber.de/Tiere</a></p>
      </div>
