<div class="zentriert">
      <br />
      <h3>Finden sie uns auch auf unserer Facebook-Seite: </h3>
      <a href="#">fbTeam4</a></p>
      <br />
      <h3>Partnerunternehmen: </h3>
      <p>Tierheim Oldenburg: <a href="http://www.tierheim-ol.de">www.tierheim-ol.de</a></p>
      <p>Tierheim Bremen: <a href="http://www.bremer-tierschutzverein.de">www.bremer-tierschutzverein.de</a></p>
      <p>Tierheim München: <a href="http://www.tierschutzverein-muenchen.de">www.tierschutzverein-muenchen.de</a></p>
      <br />
      <h3>Welches Tier für wen?</h3>
      <p> Infos und Tipps: <a href="http://www.haustier-infos.eu">www.haustier-infos.eu</a></p>
      <p>Speziell für Senioren: <a href="http://www.senioren-ratgeber.de/Tiere">www.senioren-ratgeber.de/Tiere</a></p>
      <br />
</div>