<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Tiervermittlung</a></li>
                <li id="hunde"><a href="/hunde">Hunde</a></li>
                <li id="katzen"><a href="/katzen">Katzen</a></li>
                <li id="kleintiere"><a href="/kleintiere">Kleintiere</a></li>
                <li id="voegel"><a href="/voegel">Vögel</a></li>
                <li id="exoten"><a href="/exoten">Exoten</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->

    </div>
</div>