<!-- Navigation, responisve: hier finden wir unsere Navigation der Webseite im responisve Design-->

<div class="headcontainer">
    <div class="topnav" id="myTopnav">
            <a>
                <span class="bigger">
                    <%= title %>
                </span>
            </a>
            <a href="/hunde">Hunde</a>
            <a href="/katzen">Katzen</a>
            <a href="/kleintiere">Kleintiere</a>
            <a href="/voegel">Vögel</a>
            <a href="/exoten">Exoten</a>
            <a href="javascript:void(0);" style="font-size:20px;" class="icon" onclick="myFunction()">&#9776;</a>
     
    </div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>