<!--
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Template für die Ausgabe der Tierobjekte nach eingeschränkter Anzahl und 
    Angabe einer angepassten Seitenzahlnavigation 
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-->

<% if (pagesCount) { %>
      <div class="paginationContainer">
            <% for (let i = 0; i < pagesCount; i++) { %>
              <a href="/hunde/<%= i %>"><%= i + 1 %></a>
            <% } %>
      </div>
<% } %>
