<!doctype html>
<html>
    <head>
        <title>Anmelden</title>
    
        <% include ./partials/header %>

    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ./partials/navigations %>

        <div class="maincontainer">
            <div class="container" >
                <h1><%= headline %></h1>
                <p><%= text %></p>

                <div class="auth">
                    <h2><span class="fa fa-lock" style="margin-top: 30px;"></span> Authentifizierung</h2>
                    <hr/>
                   
                    <br/>
                    <a href="/anmelden/login" class="log"><img class="img" src="/images/login.png"/>
                        Login
                    </a>
                    <a href="/anmelden/signup" class="reg"><img class="img" src="/images/register.png"/>
                        Registrierung
                    </a>
                    
                </div>
            </div>
        </div>

        <!-- footer -->
        <% include ./partials/footer.ejs %>
    </body>
</html>