<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/index.css"> 
        <link rel="icon" type="image/vnd.microsoft.icon" href="/images/paw.png">

        <link href="https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans" rel="stylesheet"> 

        <title>Suche</title>

	    <link rel="stylesheet" href="/selectize/dist/css/selectize.css">
	
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/selectize/dist/js/standalone/selectize.js"></script>    

    </head>

    <body>
        <h1>Ich suche einen Hund...</h1>
            
            <div class="feld">

            <form action="/search">


            <div class="suche_links">
                <table cellspacing="0" cellpadding="0" width="50%" name="tabelle_links">
                    <tbody>
                        <!-- Größe des Hundes -->
                        <!-- req.body.size -->
                        <input type="hidden" id="size" value="" name="size"/>
                        <tr>
                            <td width="105px">
                                
                                <div class="size">Größe</div>
                                    <div class="size_icons">
                                        <!-- klein -->
                                        <img src="/images/small.png" id="small_dog" 
                                        onclick="changeImage_smallDog()" style="margin-left: 10px;"/>

                                        <!-- mittel -->
                                        <img src="/images/middle.png" id="middle_dog" 
                                        onclick="changeImage_middleDog()" style="margin-left: 10px;"/>

                                        <!-- groß -->
                                        <img src="/images/big.png" id="big_dog" 
                                        onclick="changeImage_bigDog()" style="margin-left: 10px;"/>
                                        
                                    </div>
                                
                                     <p>
                                         <div style="margin:10px 10px; border-bottom:1px solid white; width: 290px;"/> 
                                    </p>
                            </td>
                        </tr>   

                         <!-- Rasse des Hundes -->
                         <!-- req.body.size -->
                        <tr>
                            <td width="105px">
                                 <div class="breed">Rasse</div>
                                        <select id="rasseblock" name="breed_select" style="width: 255px;" select="selected">
                                            <option selected="selected"/>
                                            <% breeds.forEach(function (breed) { %>
                                                <option value="<%= breed %>"><%= breed %></option>  
                                            <% }) %>  
                                        </select>
                                        <script>
                                            $('#rasseblock').selectize({
                                                sortField: {
                                                    field: 'text',
                                                    direction: 'asc'
                                                },
                                                dropdownParent: 'body'
                                            });
                                        </script>
                                 </div>
                                    <p>
                                         <div style="margin:10px 10px; border-bottom:1px solid white; width: 290px;"/> 
                                    </p>
                            </td>
                        </tr>

                         <!-- Geschlecht des Hundes -->
                         <input type="hidden" id="gender" value="" name="gender"/>
                        <tr>
                            <td width="105px">
                                 <div class="gender">Geschlecht</div>
                                    <div class="gender_icons">
                                        <img src="/images/male.png" style="margin-left: 50px; height: 70px; width: 70px;" 
                                         id="imgClickAndChange_male" onclick="changeImage_male()"/>
                                         <img src="/images/female.png" style="margin-left: 20px; height: 70px; width: 70px;"
                                          id="imgClickAndChange_female" onclick="changeImage_female()"/>
                                    </div>     
                                </div>
                                    <p>
                                        <div style="margin:10px 10px; border-bottom:1px solid white; width: 290px;"/> 
                                    </p>
                            </td>
                        </tr>

                        <!-- Alter des Hundes -->
                        <input type="hidden" id="age" value="" name="age"/>
                        <tr>
                            <td width="105px">
                                 <div class="age">Alter</div>
                                    <div class="age_icons">
                                        <img src="/images/baby.png" style="height: 80px; width: 80px;
                                            margin-left:10px;" id="imgClickAndChange_young" onclick="changeImage_young()"/>
                                        
                                        <img src="/images/adult.png" style="height: 80px; width: 80px;
                                            margin-left:10px;" id="imgClickAndChange_adult" onclick="changeImage_adult()"/>
                                        
                                        <img src="/images/senior.png" style="height: 80px; width: 80px;
                                            margin-left:10px;" id="imgClickAndChange_senior" onclick="changeImage_senior()"/>

                                            <!--<p style="margin-left: 23px; color: white;">
                                                jung &emsp;&emsp;&ensp; erwachsen &emsp;&emsp;&ensp; senior
                                            </p>-->
                                    </div>
                                </div>
                                    <p>
                                         <div style="margin:10px 10px; border-bottom:1px solid white; width: 290px;"/> 
                                    </p>
                            </td>
                        </tr>


                        <!-- Hund kastriert JA/NEIN -->
                        <input type="hidden" id="castrated" value="" name="castrated"/>
                        <tr>
                            <td width="105px">
                                 <div class="castrated">Kastriert</div>
                                    <div class="castrated_icons">

                                        <img src="/images/castrated.png" style="height: 100px; width: 100px;
                                            margin-left:80px;" id="imgClickAndChange_castrated" onclick="changeImage_castrated()"/>
                                             
                                    </div>
                                </div>
                                    <!--<p>
                                         <div style="margin:10px 10px; border-bottom:1px solid white; width: 290px;"/> 
                                    </p>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>




                <div class="suche_rechts">
                <!--rechte Seite des Formulars-->
                <table cellspacing="0" cellpadding="0" width="100%" class="tabelle_rechts">
                     <tbody>
                        <!-- Eigenschaften des Hundes -->
                        <input type="hidden" id="traits" value="" name="traits"/>
                        <tr>
                            <td width="105px">
                                 <div class="traits">Eigenschaften</div>
                                    <div class="traits_icons">
                                            <img src="/images/likes_male.png" id="imgClickAndChange_likes_male"
                                            onClick="changeImage_likes_male()" style="height: 90px; width: 90px; margin-left:10px;"/>
                                            
                                            <img src="/images/likes_female.png" id="imgClickAndChange_likes_female"
                                            onClick="changeImage_likes_female()" style="height: 90px; width: 90px; margin-left:10px;"/>
                                           
                                            <img src="/images/likes_male_and_female.png" id="imgClickAndChange_both_genders"
                                            onClick="changeImage_both_genders()" style="height: 80px; width: 80px; margin-left:10px;"/>
                                           
                                            <!--<img src="/images/kastriert_ungefuellt.png" id="imgClickAndChange_castrated"
                                            onClick="changeImage_castrated()" style="height: 70px; width: 70px; margin-left:10px;"/>-->
                                          
                                            <img src="/images/likes_cat.png" id="imgClickAndChange_likes_cat"
                                            onClick="changeImage_likes_cat()" style="height: 80px; width: 80px; margin-left:10px;"/>
                                          
                                            <img src="/images/likes_child.png" id="imgClickAndChange_likes_child"
                                            onClick="changeImage_likes_child()" style="height: 80px; width: 80px; margin-left:10px;"/>
                                          
                                            <img src="/images/likes_senior.png" id="imgClickAndChange_likes_senior"
                                            onClick="changeImage_likes_senior()" style="height: 80px; width: 80px; margin-left:10px;"/>
                                           
                                            <img src="/images/likes_bunny.png" id="imgClickAndChange_likes_bunny"
                                            onClick="changeImage_likes_bunny()"  style="height: 80px; width: 80px; margin-left:10px;"/>
                                            <img src="/images/solo.png" id="imgClickAndChange_solo"
                                            onClick="changeImage_solo()"  style="height: 80px; width: 80px; margin-left:10px;"/>
                                        
                                            <img src="/images/group.png" id="imgClickAndChange_group"
                                            onClick="changeImage_group()"  style="height: 80px; width: 80px; margin-left:10px;"/>

                                            <img src="/images/hunt.png" id="imgClickAndChange_hunt"
                                            onClick="changeImage_hunt()"  style="height: 80px; width: 80px; margin-left:10px;"/>

                                            <img src="/images/guard.png" id="imgClickAndChange_guard"
                                            onClick="changeImage_guard()"  style="height: 80px; width: 80px; margin-left:10px;"/>

                                            <!--<img src="/images/anfaenger_ungefuellt.png" id="imgClickAndChange_beginner"
                                            onClick="changeImage_beginner()" style="height: 70px; width: 70px; margin-left:10px;"/>-->

                                            <!--<img src="/images/speziell_ungefuellt.png" id="imgClickAndChange_experienced"
                                            onClick="changeImage_experienced()" style="height: 80px; width: 80px; margin-left:10px;"/>-->

                                            <img src="/images/likes_water_new.png" id="imgClickAndChange_likes_water"
                                            onClick="changeImage_likes_water()"  style="height: 80px; width: 80px; margin-left:10px;"/>

                                            <img src="/images/poo.png" id="imgClickAndChange_poo"
                                            onClick="changeImage_poo()"  style="height: 80px; width: 80px; margin-left:10px;"/>

                                            <img src="/images/sick.png" id="imgClickAndChange_sick"
                                            onClick="changeImage_sick()"  style="height: 80px; width: 80px; margin-left:10px;"/> 

                                            <img src="/images/warning.png" id="imgClickAndChange_warning"
                                            onClick="changeImage_warning()"  style="height: 80px; width: 80px; margin-left:10px;"/>

                                    </div>
                                </div>
                                    <p>
                                         <div style="margin:10px 10px; border-bottom:1px solid white;"/> 
                                    </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button type="submit" name="send" value="send" method="get">Suchen</button>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>

        </div>


            <!-- Formular
            <div class="suchfeld">
                <form>
                    <div class="groesse" style="height:50px">
                        Größe
                         <img id="groß" src="/images/gross.png" style="width: 50px; float:right; margin-left: 5px;"></img>
                         <img id="mittel" src="/images/mittel.png" style="width: 50px; float:right; margin-left: 5px;"></img>
                         <img id="klein" src="/images/klein.png" style="width: 50px; float:right; margin-left: 5px;"></img> 
                      
                        
                   
                    </div>
                    <p>      <div style="margin:10px 10px; border-bottom:1px solid white;"></div>  </p>
                    <div class="breed" style="height:50px">   
                        Rasse
                                <input size="25" maxlength="100" name="breed_input"/>
                                <select id="rasseblock" name="breed_select" style="width:205px;margin-top:3px; margin-left:10px;">
                                    <option value="alle">alle</option>
                                    <option value="1012"> ... </option>
                                    <option value="1319"> ... </option>
                                    <option value="592"> ... </option>                 
                                </select>
                    </div>
                     <p>      <div style="margin:10px 10px; border-bottom:1px solid white;"></div>  </p>
                    <div class="geschlecht" style="height:50px">
                        Geschlecht
                            <img id="klein" src="/images/maennlich.png" style="width: 50px; float:right; margin-left: 5px;"></img> 
                            <img id="klein" src="/images/weiblich.png" style="width: 50px; float:right; margin-left: 5px;"></img> 
                    </div>
                    <p>      <div style="margin:10px 10px; border-bottom:1px solid white;"></div>  </p>
                </form>
            </div>
             -->

        <script src="js/index.js"> </script> 
    </body>
</html>