<!doctype html>
<html>
    <head>
        <% include ./partials/header %>
    
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ./partials/navigations %>
        <div class="maincontainer">
            <div class="container">
                 <h1><%= headline %></h1>
                 <p><%= text %></p>
            </div>
        </div>

        <div class="container">
                




            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <a href="/anmelden/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
        
        </div>
        
    <!-- footer -->
    <% include ./partials/footer.ejs %>
    </body>
</html>