/**
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    stylesheet for the main content container in flexbox design
    responsive 
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/

/* -------------------------- content container & more ----------------------------------------------- */

.contentcontainer{
    width: 100%;
    z-index: 2;
    margin-bottom: 10px;
    background-color: ghostwhite;
}
.contentcontainer .inner {
    width: 100%;
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;
    background-color: red;
}
.innercontainer{
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    word-wrap:break-word;
}

/* -------------------------- all ojects like dogs, cats, ... ----------------------------------------------- */

/* ----- images ------ */
.image-wrapper {
    max-width:95%;
    height:auto;
    position: relative;
    display:block;
   /* margin:0 auto;*/
}
.image-wrapper img {
    width:100% !important;
    height:auto !important;
    display:block;
    border-style: groove;
}

.dogs{
    width: 25%;
    background-color: white;
    padding: 10px;
    border: solid;
}
ul#dogs {
     margin: 0;
     padding: 0;
}
/*li#dogs{
    float: left;
    display: inline;                
    list-style-type: none;
    border: solid;
}*/
dt#dogs {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dt#dogs::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

/* --------------------------------------------- */
li{
    padding: 0px 10px;
    list-style-type: none;
    border: solid;
}


/* ---------------------------- image style of the objects ---------------------------------------- */
img {
    max-height: auto;
}

@media screen and (max-width: 845px) {
	.dogs{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
}