/**
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    stylesheet for the main content container
    responsive 
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    it's not done, I have to fix some bugs
*/


/* -------------------------- mobile version ----------------------------------------------- 
@media screen and (min-width 768px){
    .contentcontainer{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
@media screen and (min-width: 832px){
    .inner {
        width: 580px;
    }
}
@media (min-width: 768px){
    .inner {
        width: 750px;
     
    }
}*/



/* -------------------------- content container & more ----------------------------------------------- */

.contentcontainer{
    z-index: 2;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 200;  
    line-height: 2.1428571435;
    /* background color */
    background-color: ghostwhite;
}

.contentcontainer .inner {
    width: 85%;
    max-width: 80em;
    margin: auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
        position: relative;
    resize: vertical;
  overflow: auto;
}

/* -------------------------- alle Elemente wie Hunde, Katzen, etc. werden in einer Liste ausgegeben ----------------------------------------------- */

.inner .elements {
    position: relative;
    padding: 20px;
    top: 50%;  
    resize: vertical;
}
.element{
    margin: 10px;
}
ul {
     margin: 0;
     padding: 0;
}
li{
    padding: 5px 10px;
    float: left;
    display: inline;                /* li nebeneinander anzeigen */
    list-style-type: none;
}
dl {
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

/* ---------------------------- animals div ---------------------------------------- */
img {
    width: auto;
    max-height: 150px;
}


