* {
    font-family: 'Josefin Sans';
}

h1 {
    
    /*left:50%;*/
    margin-left: 40%;
    /*margin-bottom: 20px;*/
}

body {
    font-family: FagonRegular;
}

.white_line {
    margin:10px 10px; 
    border-bottom:1px solid white; 
    width: 300px;
}

.feld {
    width: 754px;
    height: 835px;
    background-color: #737682;  
    margin-left:25%;
    position: absolute;
        box-sizing: border-box;
        /*width: 100%;*/
}

.suche_links {
     width: 315px;
     height: 775px;
     /*background-color: blue;*/
     position: flex;
     display:inline-block;
     /*vertical-align: top;*/
    /*position:absolute;*/
    /*left:50%;*/
    /*margin-left:25%;*/
    /*margin-top: 80px;*/
    /*padding: 20px 30px;*/
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
}

.suche_rechts {
    width:315px;
    height: 775px;
    /*background-color: red;*/
    position: flex;
    display: inline-block;
    vertical-align: top;
    /*position:absolute;*/
    /*left:50%;*/
    /*margin-left:50%;*/
    /*margin-top: 80px;*/
    /*padding: 20px 30px;*/
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
   /*margin-top: 100px;*/
}


.size {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left:10px;
}   

.breed {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px;
    margin-left: 10px; 
}

.breed_input {
    margin-top: 10px;
}

.breed_select {
    margin-left: 200px;
}

.gender {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left: 10px;
}

.age {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left: 10px;
}

.castrated {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left: 10px;
}

.traits {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left: 10px;
}

.castrated_img {
    height: 90px; 
    width: 90px;
    margin-left: 100px;
}

.trait_img {
    height: 90px; 
    width: 90px; 
    margin-left:10px;
}

button {
    width: 107px;
    font-size: 30px;
    /*position: central;*/
    color: black;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left: 100px;
    /*display: inline-block;*/
}


