.auth {
    width: 400px;
    height: 250px;
    background-color: #dddddd;
    background: white;
    background:rgba(255,255,255,0.5);
}


h2 {
    line-height: 1;
    color: ghostwhite;
    text-shadow:  1px  1px 2px grey,
                  1px -1px 2px grey,
                 -1px  1px 2px grey,
                 -1px -1px 2px grey;
}

.login {
    margin-left: 20%; 
}

.log {
    margin-left: 16%; 
}

.reg {
    margin-left: 8%; 
}

.out{
     margin-left: 25%; 
}

.login_container {
    width: 300px; 
    height: 500px; 
    margin-bottom: 30px; 
    margin-top: 30px;
}


button {
    background: green;
    color: white;
    border:0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    display:inline-block;
    font:normal normal bold 16px/16px Arial,Helvetica,sans-serif;
    height:40px;
    line-height:40px;
    margin: 10px;
    margin-right: 20px;
}

.img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.form-control {
    margin-top: 10px; 
    margin:0 0 .4em; 
    padding:6px .9%; width:100%;
}

.form-group label {
    font-size: 18px; 
    margin-top: 30px;
}
