h1 {
    margin-left: 40%;
}

.search_container {
    margin-top: 20px;   
    width: 100%; height: 870px;
    margin-bottom: 20px;
}

.white_line {
    margin:10px 10px; 
    border-bottom:1px solid white; 
    width: 300px;
}

.feld {
    width: 710px;
    height: 860px;
    background-image: url(../images/grey.jpg);
    background-size: 100% 100%;  
    margin-left:33.3%;
    position: absolute;
        box-sizing: border-box;
        
}

.suche_links {
     width: 325px;
     height: 735px;
     position: flex;
     display:inline-block;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
}

.suche_rechts {
    width:320px;
    height: 775px;
    position: flex;
    display: inline-block;
    vertical-align: top;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
}

.size {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left:10px;
}   

.breed {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:20px;
    padding-right: 20px;
    margin-left: 10px; 
}

.breed_input {
    margin-top: 10px;
    
}

.gender {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:20px;
    padding-right: 20px; 
    margin-left: 10px;
}

.age {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left: 10px;
}

.castrated {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
    margin-left: 10px;
}

.traits {
    font-size: 20px;
    color: white;
    margin-top:10px;
    margin-bottom:20px;
    padding-right: 20px; 
    margin-left: 10px;
}

.castrated_img {
    height: 90px; 
    width: 90px;
    margin-left: 100px;
}

.trait_img {
    height: 90px; 
    width: 90px; 
    margin-left:10px;
}

#search_button {
    width: 180px;
    font-size: 20px;
    align: center;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    padding-right: 20px; 
     margin-left: 27%; 
}
