<!--
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Template f端r die Ausgabe nuetzlicher Links
    einfaches Styling
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-->
      

      <div class="links_left">
            <p style="font-size: 20px; font-weight: bold;">Partnerunternehmen:</p>
            <hr/> 
    
            <p>Tierheim Oldenburg: <a href="http://www.tierheim-ol.de">www.tierheim-ol.de</a></p>      
            
            <p>Tierheim Bremen: <a href="http://www.bremer-tierschutzverein.de"> www.bremer-tierschutzverein.de</a></p>
                 
            <p>Tierheim M端nchen: <a href="http://www.tierschutzverein-muenchen.de"> www.tierschutzverein-muenchen.de</a></p>
      </div>
      
      <div class="links_mitte">
            <p style="font-size: 20px; font-weight: bold;">Welches Tier f端r wen? </p>
            <hr /> 
            
            <p> Infos und Tipps: <a href="http://www.haustier-infos.eu">www.haustier-infos.eu</a></p>

            <p> Haustier Ratgeber: <a href="https://www.haustierratgeber.de/">www.haustierratgeber.de</a></p>
      
            <p>Speziell f端r Senioren: <a href="http://www.senioren-ratgeber.de/Tiere">www.senioren-ratgeber.de/Tiere</a></p>
      </div>


      <div class="links_right">
            <p style="font-size: 20px; font-weight: bold;">Infos zu Hunderassen:</p>
            <hr/> 
    
            <p>Hunderassen - Charakter und Bewegungsdrang: <a href="http://www.tierchenwelt.de/haustiere/haustier-hund/1672-hunderassen-charakter-bewegungsdrang.html">http://www.tierchenwelt.de/haustiere/haustier-hund/1672-hunderassen-charakter-bewegungsdrang.html</a></p>      
            
            <p>Welche Rassen passt zu mir? <a href="http://www.vdh.de/welpen/welche-rasse-passt-zu-mir">http://www.vdh.de/welpen/welche-rasse-passt-zu-mir</a></p>
                 
            <p>Hunde Ratgeber: <a href="http://www.deine-tierwelt.de/hunde/welcher-hund-passt-zu-mir/">http://www.deine-tierwelt.de/hunde/welcher-hund-passt-zu-mir/</a></p>
      </div>