<!--
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Template für die Ausgabe der Tierobjekte nach eingeschränkter Anzahl und 
    Angabe einer angepassten Seitenzahlnavigation 
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-->

<% if (pagesCount) { %>
      <div class="paginationContainer">
            <% let j = currentPage; %>
            <% if(currentPage > 0) { %>
                  <a href="/hunde/<%= j - 1 %>">&laquo;</a> 
            <% } %>  

            <% for (let i = 0; i < pagesCount; i++) { %>
              <a href="/hunde/<%= i %>"><%= i + 1 %></a>
            <% } %>
            
            <% if(currentPage < pagesCount-1) { %>
                  <% j++; %>
                  <a href="/hunde/<%= j %>">&raquo;</a> 
            <% } %>          
      </div>
<% } %>
