<html class="errorpage">
    <head>
        <% include ../partials/header %>
    </head>

   <body>
        <a href="/"> <img src="../images/home_logo.png" class="home_logo" title="Home" style="width:50px; height: 50px;"> </a> 

       <!-- content -->
        <div class="contentcontainer" role="main">
            <div class="innercontainer">
                <div class="errorNav">
                    <a href="/kontakt">contact</a>
                </div>
                <div class="errorheader">
                    <p class="hinge"> COMING SOON </p>
                </div>
                <div class="errorText">
                    <p>Ups, da haben wir wohl was verloren...</p>
                    <p>Wir arbeiten momentan noch an neuen Bereichen unserer Website.</p>
                    <p>Bald geht es hier weiter!</p>
                </div>
                <div class="errorFooter">
                    <div class="icons">
                        <a href="https://www.facebook.com/ifi-tierheim" style="margin-right: 20px;"><i class="fa fa-facebook"></i></a>
                        <br/>
                        <a href="https://twitter.com/ifi-tierheim" style="margin-right: 20px;"><i class="fa fa-twitter"></i></a>
                        <br/>
                        <a href="https://de.linkedin.com/in/martha-d%C3%BCpont-9b7914135" style="margin-right: 20px;"><i class="fa fa-linkedin"></i></a>
                        <br/>
                        <a href="https://github.com/dmalewski/IFI_Projekt_Tierheim.git" style="margin-right: 20px;"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                    </div>
                </div>
          </div>
    </body>
</html>       