<html class="errorpage">
    <head>
        <% include ../partials/header %>
    </head>

    <body>
    
        <a href="/"> <img src="../images/home_logo.png" class="home_logo" title="Home" style="width:2.5%; height: 5%;"> </a> 
 
        <!-- content -->
        <div class="contentcontainer" role="main">
            <div class="innercontainer">
                <div class="errorNav">
                    <a href="/kontakt">contact</a>
                <div class="errorheader">
                    <p class="hinge"> COMING SOON </p>
                </div>
                <div class="errorText">
                    <p>Uuups, we lost something...</p>
                    <p>We're currently working on creating our new website.</p>
                    <p>We will be launching soon.</p>
                </div>
                <div class="errorFooter">
                    <div class="icons">
                            <a href="https://www.facebook.com/mglabischewski"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/dmalewski/IFI_Projekt_Tierheim.git"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                    </div> 
                </div>
          </div>
    </body>
</html>