<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        <div class="maincontainer">
            <div class="container">
                <h1><%= headline %></h1>
            </div>
        </div>
        <!-- content -->
        <div class="contentcontainer" role="main">
            <div class="inner">
                <div class=" text">
                    <div class="animation">
                            <img src="http://gifwelt.info/wp-content/uploads/hunde-033.gif"></img>
                            <span> Ihre</span>
                            <span> Nachricht</span>
                            <span> ist</span>
                            <span> mit</span>
                            <span> Erfolg</span>
                            <span> gesendet!</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <% include ../partials/footer.ejs %>

    </body>
</html>
