<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        <div class="maincontainer" style="height: 300px;">
            <div class="container">
                <h1><%= headline %></h1>
                <p><%= text %></p>
            </div>
        </div>
    
        <!-- content -->
            <div class="flexcontainer">
                <form action="/hund_loeschen/<%= id %>" method="POST">
                    <div> 
                        <button style="background-color: red; margin-left: 25%" type"submit">         
                            Hund wirklich löschen ?
                        </button>
                    </div>

                    <div class="profile" style="width: 350px; float:left; margin-left: 5%; margin-bottom: 30px;">
                        <% include ../partials/dogs_insert %>       
                    </div>
                </form>     
            </div>

        <!-- footer -->
        <% include ../partials/footer.ejs %>
          
    </body>
</html>