<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        <div class="maincontainer">
            <div class="container">
                <h1><%= headline %></h1>
                <p><%= text %></p>
            </div>
        </div>
    
        <!-- content -->
          <!-- <div class="contentcontainer" role="main"> -->
            <div class="flexcontainer" style="margin-bottom: 70px;">  
                
                <section class="gradient">

                    <div id="div_suche">
                        <img src="/images/lupe.png" id="lupe"/><a href="/suche" class="a_suchen">Tier suchen</a>
                        <br/>
                    </div>

                    <div id="div_eintragen">
                        <img src="/images/pencil.png" id="pencil"/><a href="/hund_eintragen" class="a_eintragen">Tier eintragen</a>
                        <br/>
                    </div>

                    <div id="div_info">
                        <img src="/images/info.png" id="info"/><a href="/links" class="a_info">über die Tiervermittlung</a>
                    </div>
                    
                </section>

            </div> 
         <!-- </div>  -->
        <!-- footer -->
        <% include ../partials/footer.ejs %>
          
    </body>
</html>