<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        

        <!-- Head -->
        <% include ../partials/navigations %>
        <div class="jumbotron">
            <div class="container">
                <h1><%= headline %></h1>
                <p><%= text %></p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
                </p>
            </div>
        </div>
        <hr>
        <% include ../partials/content %>
        

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
          
    </body>
</html>