<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        

        <!-- Head -->
        <% include ../partials/navigations %>
        <div class="jumbotron">
            <div class="container">
                <h1><%= headline %></h1>
                <p><%= text %></p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
                </p>
            </div>
        </div>
        
        <% include ../partials/content %>
        <hr>
        <% include ../partials/footer.ejs %>

        
          
    </body>
</html>