<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        <div class="maincontainer" style="height: 45%;">
            <div class="container">
                <h1><%= headline %></h1>

            </div>
        </div>
        
        <!-- content -->
        <div class="contentcontainer" role="main">
            <div class="inner">
                
            </div>
        </div>
        <!-- footer -->
        <% include ../partials/footer.ejs %>

    </body>
</html>