<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
         
        <!-- content -->
         <div class="contentcontainer" role="main">
              <% include ../partials/legend %>

            <div class="flexcontainer">
                <% include ../partials/dogs %>
            </div>

            <div class="flexcontainer">
                <% include ../partials/pagination.ejs %>
            </div>

        </div>
        
        <!-- footer -->
        <% include ../partials/footer.ejs %>

    </body>
</html>
