<!Doctype html>

<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <div class="wrapper">

            
            <% include ../partials/navigations %>
            <% include ../partials/iconsHunde.ejs %>
        
        </div>
    </body>
</html>