<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>

        <!-- content -->
         <div class="contentcontainer" role="main">
              <% include ../partials/legend %>

            <div class="flexcontainer">
                <% include ../partials/dogs_insert %>
            </div>
           
        </div>
        <!-- footer -->
        <% include ../partials/footer.ejs %>

    </body>
</html>