<!Doctype html>

<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <div class="wrapper">

            <% include ../partials/navigations %>
            <h1>In Progress</h1>
        
        </div>
    </body>
</html>