<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
        <link rel='stylesheet' href='/css/insertDogStyle.css'> 
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        
        <!-- content -->
        <div class="contentcontainer" role="main">
            <% include ../partials/legend %>    
        </div>
        <h1><%= text %></h1>


    <div class="feld">

    <form class="pure-form pure-form-stacked" action="/foto_hochladen" method="POST" enctype="multipart/form-data">
        <!--Foto hochladen-->            
        <div class="textfeld">Foto</div>
            <div class="durchsuchen">
                <input type="file" name="img">
                <input type="submit" value="Hochladen" id="upload" style="margin-bottom: 10px;">
            </div>
        </div>

                  

    </form>
        </div>

        <script src="js/index.js"> </script>

         </div>

        <!-- footer -->
        <% include ../partials/footer.ejs %>

    
    </body>
</html>