<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
        <link rel='stylesheet' href='/css/insertDogStyle.css'> 
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        
        <!-- content -->
        <div class="contentcontainer" role="main">
            <% include ../partials/legend %>    
        </div>
        <h1><%= text %></h1>

        <div class="search_container">

         <div class="feld">

            <form class="pure-form pure-form-stacked" action="/foto_hochladen" method="GET" enctype="multipart/form-data">

                <div class="eintragen_links">
                <table cellspacing="0" cellpadding="0" width="50%" name="tabelle_links">
                    <tbody>
                       <!--Name des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld">Name</div>
                                   <div class="form-item">
                                          <input id="aName" name="name" type="text" tabindex="300px" placeholder="Bitte Namen angeben" required />
                                      </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>

                       <!--Tierheim des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld">Tierheim</div>
                                    <div class="form-item">
                                        <input id="aShelter" name="institution" type="text" tabindex="300px" placeholder="Bitte Tierheim angeben" required />
                                    </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>


                        <!-- Größe des Hundes -->
                        <input type="hidden" id="size" value="" name="size"/>
                        <tr>
                            <td width="105px">

                                <div class="textfeld">Größe</div>
                                    <div class="form-item">
                                        <input id="aHeight" name="height" type="number" tabindex="300px" placeholder="Bitte Schulterhöhe in cm angeben" required />
                                    </div>

                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>


                        <!-- Rasse des Hundes -->
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Rasse</div>
                                    <div class="form-item">
                                          <input id="aBreed" name="bread" type="text" tabindex="300px" placeholder="Bitte Rasse angeben" required />
                                    </div>
                               
                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>

                        <!--Fellfarbe des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld">Name</div>
                                   <div class="form-item">
                                          <input id="aColour" name="colour" type="text" tabindex="300px" placeholder="Bitte Fellfarbe(n) angeben" required/>
                                      </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>


                         <!-- Geschlecht des Hundes -->
                         <input type="hidden" id="gender" value="" name="gender"/>
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Geschlecht</div>
                                    <div class="form-item">

                                        <img src="/images/male.png" style="margin-left: 50px; height: 70px; width: 70px;" title="männlich"/>
                                        <input id="aGender" name="gender" type="radio" tabindex="300px" value="männlich" required>männlich</input>
                                       
                                        <img src="/images/female.png" style="margin-left: 20px; height: 70px; width: 70px;" title="weiblich"/>
                                        <input id="aGender" name="gender" type="radio" tabindex="300px" value="weiblich" required>weiblich</input>
                                    
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                </div>

                <div class="eintragen_rechts">
                   <!--rechte Seite des Formulars-->
                   <table cellspacing="0" cellpadding="0" width="100%" class="tabelle_rechts">
                     <tbody>

                        <!-- Alter des Hundes -->
                        <input type="hidden" id="age" value="" name="age"/>
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Alter</div>
                                    <div class="form-item">
                                        <input id="aAge" name="age" type="radio" tabindex="300px" value="jung" required>jung</input>
                                        <input id="aAge" name="age" type="radio" tabindex="300px" value="erwachsen" required>erwachsen</input>
                                        <input id="aAge" name="age" type="radio" tabindex="300px" value="senior" required>senior</input>
                                    </div>
                                </div>
                                <p>
                                    <div class="white_line"/>
                                </p>
                            </td>
                        </tr>

                        <!--Geburtsdatum des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld">Geburtsdatum</div>
                                   <div class="form-item">
                                          <input id="aBirthdate" name="birthdate" type="date" tabindex="300px" placeholder="Bitte Geburtsdatum angeben" required />
                                      </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>


                        <!-- Eigenschaften des Hundes -->
                        <input type="hidden" id="traits" value="" name="traits"/>
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Eigenschaften</div>
                                    <div class="traits_icons">
                                            <img class="trait_img" src="/images/likes_male.png" id="imgClickAndChange_likes_male"
                                            onClick="changeImage_likes_male()" title="verträglich mit Männchen"/>

                                            <img class="trait_img" src="/images/likes_female.png" id="imgClickAndChange_likes_female"
                                            onClick="changeImage_likes_female()" title="verträglich mit Weibchen"/>

                                            <img class="trait_img" src="/images/likes_male_and_female.png" id="imgClickAndChange_both_genders"
                                            onClick="changeImage_both_genders()" title="verträglich mit beiden Geschlechtern"/>

                                            <img class="trait_img" src="/images/likes_cat.png" id="imgClickAndChange_likes_cat"
                                            onClick="changeImage_likes_cat()" title="katzenfreundlich"/>

                                            <img class="trait_img" src="/images/likes_child.png" id="imgClickAndChange_likes_child"
                                            onClick="changeImage_likes_child()" title="kinderfreundlich"/>

                                            <img class="trait_img" src="/images/likes_senior.png" id="imgClickAndChange_likes_senior"
                                            onClick="changeImage_likes_senior()" title="seniorengeeignet"/>

                                            <img class="trait_img" src="/images/likes_bunny.png" id="imgClickAndChange_likes_bunny"
                                            onClick="changeImage_likes_bunny()" title="kleintierfreundlich"/>

                                            <img class="trait_img" src="/images/solo.png" id="imgClickAndChange_solo"
                                            onClick="changeImage_solo()" title="Einzeltier"/>

                                            <img class="trait_img" src="/images/group.png" id="imgClickAndChange_group"
                                            onClick="changeImage_group()" title="Gruppentier"/>

                                            <img class="trait_img" src="/images/hunt.png" id="imgClickAndChange_hunt"
                                            onClick="changeImage_hunt()" title="Jadhund"/>

                                            <img class="trait_img" src="/images/guard.png" id="imgClickAndChange_guard"
                                            onClick="changeImage_guard()" title="Wachhund"/>

                                            <img class="trait_img" src="/images/likes_water_new.png" id="imgClickAndChange_likes_water"
                                            onClick="changeImage_likes_water()" title="mag Wasser"/>

                                            <img class="trait_img" src="/images/poo.png" id="imgClickAndChange_poo"
                                            onClick="changeImage_poo()" title="stubenrein">

                                            <img class="trait_img" src="/images/sick.png" id="imgClickAndChange_sick"
                                            onClick="changeImage_sick()" title="Krankheit"/>

                                            <img class="trait_img" src="/images/warning.png" id="imgClickAndChange_warning"
                                            onClick="changeImage_warning()" title="Achtung"/>

                                    </div>
                                </div>

                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>


                        <!-- Hund kastriert JA/NEIN -->
                        <input type="hidden" id="castrated" value="" name="castrated"/>
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Kastriert</div>
                                    <div class="castrated_icon">

                                        <img class="castrated_img" src="/images/castrated.png"
                                        id="imgClickAndChange_castrated" onclick="changeImage_castrated()" title="Kastriert"/>

                                    </div>
                                 </div>
                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>

                    </tbody>
                </table>
                    <div class="speichern">
                      <button id="save" type="submit" value="speichern" tabindex="90">Speichern</button>
                    </div>
               </div>
           </form>
        </div>

        <script src="js/index.js"> </script>

         </div>

        <!-- footer -->
        <% include ../partials/footer.ejs %>

    
    </body>
</html>