<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/header %>
        <link rel='stylesheet' href='/css/insertDogStyle.css'> 
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        
        <!-- content -->
        <div class="contentcontainer" role="main">
            <% include ../partials/legend %>    
        </div>
        <p style="color: black;  margin-left:25%; margin-top: 30px; margin-bottom:0px; font-size: 20px; font-weight: bold;">
            <%= text %>
        </p>

        <div class="search_container">

         <div class="feld">

            <form action="/hund_eintragen" method="POST" enctype="multipart/form-data">

                <div class="eintragen_links">
                <table cellspacing="0" cellpadding="0" width="50%" name="tabelle_links">
                    <tbody>

                       <!--Name des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld" >Name</div>
                                   <div class="form-item">
                                          <input name="name" pattern="[A-Z][a-z]+" type="text" placeholder="Bitte Namen angeben (A-Z)(a-z)" required />
                                      </div>
                        
                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>

                       <!--Tierheim des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld">Tierheim</div>
                                    <div class="form-item">
                                        <input name="institution" type="text" pattern="[A-Z][a-z]+[ ][A-Z][a-z]+" tabindex="300px" placeholder="Für den Hund zuständiges Tierheim angeben" required />
                                    </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>

                       <!--seit wann im Tierheim -->
                       <tr>
                           <td width="105px">
                                <div class="textfeld" >seit wann im Tierheim?</div>
                                   <div class="form-item">
                                          <input name="since_when" type="text" placeholder="seit wann ist der Hund im Tierheim?" required />
                                      </div>
                        
                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>

                        <!-- Größe des Hundes -->
                        <tr>
                            <td width="105px">

                                <div class="textfeld">Schulterhöhe in cm</div>
                                    <div class="form-item">
                                        <input name="height" type="number" min="0" max ="100" tabindex="300px" placeholder="Bitte Schulterhöhe in cm angeben (0-100)" required /> 
                                    </div>

                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>


                        <!-- Rasse des Hundes -->
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Rasse</div>
                                    <div class="form-item">
                                          <input name="breed" type="text" tabindex="300px" placeholder="Bitte Rasse angeben" required />
                                    </div>
                               
                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>

                        <!--Fellfarbe des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld">Fellfarbe(n)</div>
                                   <div class="form-item">
                                          <input name="colour" type="text" tabindex="300px" placeholder="Bitte Fellfarbe(n) angeben (Farbe1,Farbe2,...)" required/>
                                      </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>

                           </td>
                       </tr>


                         <!-- Geschlecht des Hundes -->
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Geschlecht</div>
                                    <div class="form-item">

                                        <div style="float:left;">
                                            <img src="/images/male_legend.png" style="margin-left: 35px; height: 70px; width: 70px; float:left;" title="männlich"/>
                                            <input name="gender" type="radio" tabindex="300px" value="männlich" style="margin-top: 30px;" required></input>
                                        </div>

                                        <div style=" margin-left: 40px; float:left;">
                                            <img src="/images/female_legend.png" style="height: 70px; width: 70px; float:left;" title="weiblich"/>
                                            <input name="gender" type="radio" tabindex="300px" value="weiblich" style="margin-top: 30px;" required> </input>
                                        </div>
                                    </div>
                                </div>
                                    <br/><br/><br/>
                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>

                        <!--Geburtsdatum des Hundes-->
                       <tr>
                           <td width="105px">
                                <div class="textfeld">Geburtsdatum</div>
                                   <div class="form-item">
                                          <input id="aBirthdate" name="birthdate" type="date" tabindex="300px" placeholder="DD.MM.YY" required />
                                      </div>
                           </td>
                       </tr>

                    </tbody>
                </table>
                </div>

                <div class="eintragen_rechts">
                    
                   <!--rechte Seite des Formulars-->
                   <table cellspacing="0" cellpadding="0" width="100%" class="tabelle_rechts">
                     <tbody>

                        <!-- Eigenschaften des Hundes -->
                        <input type="hidden" id="traits" value="" name="traits"/>
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Eigenschaften</div>
                                    <div class="traits_icons">
                                        
                                            <img class="trait_img" src="/images/likes_male.png" id="imgClickAndChange_likes_male"
                                            onClick="changeImage_likes_male()" title="verträglich mit Männchen"/>

                                            <img class="trait_img" src="/images/likes_female.png" id="imgClickAndChange_likes_female"
                                            onClick="changeImage_likes_female()" title="verträglich mit Weibchen"/>

                                            <img class="trait_img" src="/images/likes_male_and_female.png" id="imgClickAndChange_both_genders"
                                            onClick="changeImage_both_genders()" title="verträglich mit beiden Geschlechtern"/>

                                            <img class="trait_img" src="/images/likes_cat.png" id="imgClickAndChange_likes_cat"
                                            onClick="changeImage_likes_cat()" title="katzenfreundlich"/>

                                            <img class="trait_img" src="/images/likes_child.png" id="imgClickAndChange_likes_child"
                                            onClick="changeImage_likes_child()" title="kinderfreundlich"/>

                                            <img class="trait_img" src="/images/likes_senior.png" id="imgClickAndChange_likes_senior"
                                            onClick="changeImage_likes_senior()" title="seniorengeeignet"/>

                                            <img class="trait_img" src="/images/likes_bunny.png" id="imgClickAndChange_likes_bunny"
                                            onClick="changeImage_likes_bunny()" title="kleintierfreundlich"/>

                                            <img class="trait_img" src="/images/solo.png" id="imgClickAndChange_solo"
                                            onClick="changeImage_solo()" title="Einzeltier"/>

                                            <img class="trait_img" src="/images/group.png" id="imgClickAndChange_group"
                                            onClick="changeImage_group()" title="Gruppentier"/>

                                            <img class="trait_img" src="/images/hunt.png" id="imgClickAndChange_hunt"
                                            onClick="changeImage_hunt()" title="Jadhund"/>

                                            <img class="trait_img" src="/images/guard.png" id="imgClickAndChange_guard"
                                            onClick="changeImage_guard()" title="Wachhund"/>

                                            <img class="trait_img" src="/images/likes_water.png" id="imgClickAndChange_likes_water"
                                            onClick="changeImage_likes_water()" title="mag Wasser"/>

                                            <img class="trait_img" src="/images/poo.png" id="imgClickAndChange_poo"
                                            onClick="changeImage_poo()" title="stubenrein">

                                            <img class="trait_img" src="/images/sick.png" id="imgClickAndChange_sick"
                                            onClick="changeImage_sick()" title="Krankheit"/>

                                            <img class="trait_img" src="/images/warning.png" id="imgClickAndChange_warning"
                                            onClick="changeImage_warning()" title="Achtung"/>

                                    </div>
                                </div>

                                    <p>
                                        <div class="white_line"/>
                                    </p>
                            </td>
                        </tr>

                        <!-- Hund kastriert JA/NEIN -->
                        <input type="hidden" id="castrated" value="" name="castrated" required/>
                        <tr>
                            <td width="105px">
                                 <div class="textfeld">Kastriert</div>
                                    <div class="castrated_icon">

                                        <img class="castrated_img" src="/images/castrated.png"
                                        id="imgClickAndChange_castrated" onclick="changeImage_castrated()" title="Kastriert"/>

                                    </div>
                                 </div>
                                <p>
                                    <div class="white_line"/>
                                </p>
                            </td>
                        </tr>

                        <!--Link zum Profil auf der Tierheim-Website-->
                        <tr>
                           <td width="105px">
                                <div class="textfeld">Link zum Profil des Hundes auf der Tierheim-Website</div>
                                    <div class="form-item">
                                        <input name="link" type="url" tabindex="300px" placeholder="http://www.beispiel.de" />
                                    </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>
                           </td>
                        </tr>

                        <!--Beschreibungstext-->
                        <tr>
                           <td width="105px">
                                <div class="textfeld">Beschreibungstext</div>
                                    <div class="form-item">
                                        <textarea name="text" cols="40" rows="3" tabindex="93" maxlength="1000" placeholder="Beschreibungstext des Hundes"></textarea>
                                    </div>

                                  <p>
                                      <div class="white_line"/>
                                  </p>
                           </td>
                        </tr>

                        <!--Foto hochladen-->   
                        <tr>
                            <td width="105px">         
                                <div class="textfeld">Foto</div>
                                    <div class="form-item">
                                        <input name="photo" type="file" required>
                                        <br/>
                                </div>
                                
                                 <p>
                                    <div class="white_line"/>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    <div class="speichern">
                      <button type="submit" value="speichern" class="pure-button pure-button-primary">Speichern</button>
                    </div>
               </div>
           </form>
        </div>

        <script src="js/index.js"> </script>

         </div>

        <!-- footer -->
        <% include ../partials/footer.ejs %>

    
    </body>
</html>