<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        
        <!-- content -->
        <div class="flexcontainer">
              <div class="sorry block">
                <br />
                <h2><%= headlineText %></h2>
                <br />
                <p><%= text %></p>
                <br />
                <p><%= signature %></p>
                <br />
              </div>
        </div>
        <!-- footer -->
        <% include ../partials/footer.ejs %>
          
    </body>
</html>