<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        <div class="maincontainer" style="height: 40%;">
            <div class="container">
                <h1> 
                    <div class="cssload-container">
                    <div class="cssload-k">K</div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-square"></div>
                    <div class="cssload-triangle"></div>
                    <div class="cssload-n">N</div>
                    <div class="cssload-t">T</div>
                    <div class="cssload-a">A</div>
                    <div class="cssload-kk">K</div>
                    <div class="cssload-tt">T</div>
                    </div>
                </h1>
                <p><%= text %></p>
            </div>
        </div>
        <!-- content -->
        <div class="contentcontainer" role="main">
            <div class="inner">
                <% include ../partials/contact.ejs %>
            </div>
        </div>
        <!-- footer -->
        <% include ../partials/footer.ejs %>

    </body>

</html>
