<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        <div class="maincontainer" style="height: 1000px;">
            <div class="container">
                <h1><%= headline %></h1>
                <p><%= text %></p>

                    
                <% include ../partials/links_partial.ejs %>
                    
            </div>
        </div>
     
        <!-- footer -->
        <% include ../partials/footer.ejs %>
          
    </body>
</html>