<!DOCTYPE html>

<html>
    <head>
        <link rel='stylesheet' href='/css/searchstyle.css'>
        <% include ../partials/header %>

	    <link rel="stylesheet" href="/selectize/dist/css/selectize.css">
	
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/selectize/dist/js/standalone/selectize.js"></script>   
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        
        <!-- content -->
        <div class="contentcontainer" role="main">
            <% include ../partials/legend %>    
        </div>

        <p style="color: black;  margin-left:25%; margin-top: 50px; margin-bottom:0px; font-size: 20px; font-weight: bold;">
            <%= text %>
        </p>

        <% include ../partials/search %>  
        
    </div>
        <!-- footer -->
        <% include ../partials/footer.ejs %>

    </body>
</html>